*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    height: 50%;
    align-items: center;
   padding-top: 30vh;
    
}
main{
    background-color: black;
    display: grid;
    grid-template-areas: 
    'a a a b'
    'a a a b'
    'c c d d'
    'c c e e'
   ;
    width: 50%;
    margin: auto;
    gap: 10px;
   padding: 20px;
   padding-right: 60px;
   
}
div{
   padding: 50px;
    

}
.abox{
background-color:orangered ;
grid-area: a;
}
.bbox{
    background-color:orange; 
    grid-area: b;
}
.cbox{
    background-color: green;
    grid-area: c;
}
.dbox{
    background-color: skyblue;
    grid-area: d;
}
.ebox{
    background-color: skyblue;
    grid-area: e;
}